:root {
  --accent: rgb(225,117,45);
  --accent-alpha-70: rgba(225,117,45,.7);
  --accent-alpha-20: rgba(225,117,45,.2);

  --background: #141010;
  --color: rgb(228, 131, 66);
  --border-color: rgba(255, 255, 255, .1);
}
